#fastapi==0.109.0
#uvicorn==0.27.0
#sqlalchemy==2.0.25
# The connector handles secure IAM-based auth to Cloud SQL
#cloud-sql-python-connector[pg8000]==1.7.0


#fastapi==0.109.0
#uvicorn==0.27.0
#sqlalchemy==2.0.25
#cloud-sql-python-connector[pg8000]==1.7.0
#pydantic==2.5.3

Flask==3.0.2
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
gunicorn==21.2.0


